<mat-form-field>
    <mat-label>Select a stock</mat-label>
    <mat-select (selectionChange)="stockSelected($event)" [value]="selectedStock">
        <mat-option *ngFor="let stock of allStocks" [value]="stock">
            {{ stock.symbol }}: {{ stock.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<div *ngIf="selectedStock">
    <h2>Open Orders</h2>
    <table>
        <tr>
            <th>Buy Orders</th>
            <th>Sell Orders</th>
        </tr>
        <tr>
            <td style="vertical-align:top">
                <table mat-table [dataSource]="buyOrders" matSort>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                        <td mat-cell *matCellDef="let element">{{ element.quantity | number:"1.0-0" }}</td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Buying at...</th>
                        <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </td>
            <td style="vertical-align:top">
                <table mat-table [dataSource]="sellOrders" matSort>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                        <td mat-cell *matCellDef="let element">{{ element.quantity | number:"1.0-0" }}</td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Selling at...</th>
                        <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </td>
        </tr>
    </table>
</div>
